$btn-hover-bg-color: #169978;
$btn-hover-font-color: White;
$btn-primary-font-color: FloralWhite;
$btn-primary-bg-color: #0f7a5f;

$border-active-color: SeaGreen;
$border-primary-color: DarkGreen;
$border-primary: 1px solid $border-primary-color;

$font-primary-color: DarkGreen;
$font-primary-family: 'Ranga', cursive, sans-serif;
$font-secondary-color: White;
